name: regolith-desktop is installable 2

on:
  workflow_dispatch:
  workflow_call:

jobs:
  test-debian-bullseye-install:
    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        stage: [unstable, testing, release-3_0, release-3_1]
        distro-codename: [debian-bullseye]
        arch: [amd64, arm64]
        include:
          - arch: amd64
            host-os: ubuntu-20.04
          - arch: arm64
            host-os: [self-hosted, Linux, ARM64, focal]
          - distro-codename: debian-bullseye
            distro: debian
            codename: bullseye
    steps:
      - name: Test ${{ matrix.stage }} ${{ matrix.distro-codename }} ${{ matrix.arch }}
        uses: kgilmer/test-debian-bullseye-action@v1
        with:
          apt-key-url: http://regolith-desktop.org/regolith3.key
          apt-repo-line: "deb [arch=${{ matrix.arch }}] https://regolith-desktop.org/${{ matrix.stage }}-${{ matrix.distro }}-${{ matrix.codename }}-${{ matrix.arch }} ${{ matrix.codename }} main"
          target-package: "regolith-desktop"
  test-debian-testing-install:
    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        stage: [unstable, testing] # , release
        distro-codename: [debian-testing]
        arch: [amd64, arm64]
        wm: [regolith-session-flashback] #, regolith-session-sway] // See https://github.com/regolith-linux/sway-regolith/issues/12
        include:
          - arch: amd64
            host-os: [self-hosted, Linux, X64, testing]
          - arch: arm64
            host-os: [self-hosted, Linux, ARM64, testing]
          - distro-codename: debian-testing
            distro: debian
            codename: testing
    steps:
      - name: Test ${{ matrix.stage }} ${{ matrix.distro-codename }} ${{ matrix.arch }}
        uses: kgilmer/test-debian-testing-action@v1.1
        with:
          apt-key-url: http://regolith-desktop.org/regolith3.key
          apt-repo-line: "deb [arch=${{ matrix.arch }}] https://regolith-desktop.org/${{ matrix.stage }}-${{ matrix.distro }}-${{ matrix.codename }}-${{ matrix.arch }} ${{ matrix.codename }} main"
          target-package: "regolith-desktop ${{ matrix.wm }}"
  test-debian-bookworm-install:
    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        stage: [unstable, testing] # , release
        distro-codename: [debian-bookworm]
        arch: [amd64, arm64]
        wm: [regolith-session-flashback]
        include:
          - arch: amd64
            host-os: ubuntu-20.04
          - arch: arm64
            host-os: [self-hosted, Linux, ARM64, bookworm]
          - distro-codename: debian-bookworm
            distro: debian
            codename: bookworm
    steps:
      - name: Test ${{ matrix.stage }} ${{ matrix.distro-codename }} ${{ matrix.arch }}
        uses: kgilmer/test-debian-bookworm-action@v1.0
        with:
          apt-key-url: http://regolith-desktop.org/regolith3.key
          apt-repo-line: "deb [arch=${{ matrix.arch }}] https://regolith-desktop.org/${{ matrix.stage }}-${{ matrix.distro }}-${{ matrix.codename }}-${{ matrix.arch }} ${{ matrix.codename }} main"
          target-package: "regolith-desktop ${{ matrix.wm }}"
  test-ubuntu-focal-install:
    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        stage: [unstable, testing, release-3_0, release-3_1]
        distro-codename: [ubuntu-focal]
        arch: [amd64, arm64]
        include:
          - arch: amd64
            host-os: ubuntu-20.04
          - arch: arm64
            host-os: [self-hosted, Linux, ARM64, focal]
          - distro-codename: ubuntu-focal
            distro: ubuntu
            codename: focal
    steps:
      - name: Test ${{ matrix.stage }} ${{ matrix.distro-codename }} ${{ matrix.arch }}
        uses: kgilmer/test-ubuntu-20.04-action@v1.1.5
        with:
          apt-key-url: http://regolith-desktop.org/regolith3.key
          apt-repo-line: "deb [arch=${{ matrix.arch }}] https://regolith-desktop.org/${{ matrix.stage }}-${{ matrix.distro }}-${{ matrix.codename }}-${{ matrix.arch }} ${{ matrix.codename }} main"
          target-package: "regolith-desktop"
  test-ubuntu-jammy-install:
    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        stage: [unstable, testing, release-3_0, release-3_1]
        distro-codename: [ubuntu-jammy]
        arch: [amd64, arm64]
        wm: [regolith-session-flashback, regolith-session-sway]
        include:
          - arch: amd64
            host-os: ubuntu-22.04
          - arch: arm64
            host-os: [self-hosted, Linux, ARM64, jammy]
          - distro-codename: ubuntu-jammy
            distro: ubuntu
            codename: jammy
        exclude:
          - stage: release-3_0
            wm: regolith-session-sway
    steps:
      - name: Test ${{ matrix.stage }} ${{ matrix.distro-codename }} ${{ matrix.arch }}
        uses: kgilmer/test-ubuntu-22.04-action@v1.1.6
        with:
          apt-key-url: http://regolith-desktop.org/regolith3.key
          apt-repo-line: "deb [arch=${{ matrix.arch }}] https://regolith-desktop.org/${{ matrix.stage }}-${{ matrix.distro }}-${{ matrix.codename }}-${{ matrix.arch }} ${{ matrix.codename }} main"
          target-package: "regolith-desktop ${{ matrix.wm }}"
  test-ubuntu-noble-install:
            runs-on: ${{ matrix.host-os }}
            strategy:
              matrix:
                stage: [unstable]
                distro-codename: [ubuntu-noble]
                arch: [amd64, arm64]
                wm: [regolith-session-flashback, regolith-session-sway]
                include:
                  - arch: amd64
                    host-os: [self-hosted, Linux, X64, noble]
                  - arch: arm64
                    host-os: [self-hosted, Linux, ARM64, noble]
                  - distro-codename: ubuntu-noble
                    distro: ubuntu
                    codename: noble
            steps:
              - name: Test ${{ matrix.stage }} ${{ matrix.distro-codename }} ${{ matrix.arch }}
                uses: regolith-linux/test-ubuntu-noble-action@1.0.0
                with:
                  apt-key-url: http://regolith-desktop.org/regolith3.key
                  apt-repo-line: "deb [arch=${{ matrix.arch }}] https://regolith-desktop.org/${{ matrix.stage }}-${{ matrix.distro }}-${{ matrix.codename }}-${{ matrix.arch }} ${{ matrix.codename }} main"
                  target-package: "regolith-desktop ${{ matrix.wm }}"